<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/6e597438e3.js" crossorigin="anonymous"></script>
  <!-- <script defer src="script.js"></script> -->
  <title>PG Connect</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <form action="/index" method="post">
    <nav>
  <div class="filter">
    <div class="type-div">
      <label for="type">Gender </label>

      <select class="type" name="gender">
        
        <option value="none"></option>
        <option value="Both">Both</option>
        <option value="Boys">Only Boys</option>
        <option value="Girls">Only Girls</option>
      </select>
    </div>
    <div class="distance-div">
      <label for="distance">Parking </label>

      <select class="distance" name="parking">
        <option value="none"></option>
        <option value="Yes">yes</option>
        <option value="No">no</option>
        
      </select>
    </div>
    <div class="food-div">
      <label for="food">Food </label>

      <select class="food" name="food">
        <option value="none"></option>
        <option value="No">No</option>
        <option value="veg">Veg</option>
        <option value="Non-veg">Non Veg</option>
        
      </select>
    </div>
    <div class="occupancy-div">
      <label for="occupancy">Occupancy </label>

      <select class="occupancy" name="occupancy">
        <option value="none"></option>
        <option value="single">Single Sharing</option>
        <option value="double">Double Sharing</option>
        <option value="triple">Triple Sharing</option>
      </select>
    </div>

    <div class="occupancy-div">
      <label for="sort">Sort by</label>

      <select class="occupancy" name="sort">
        <option value="">No sorting</option>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
        <!-- <option value="triple">Triple Sharing</option> -->
      </select>
    </div>

    <button type="submit" class="filter-button">FILTER</button>
  </div>
</nav>
  </form>
  

<div class="body">

<% mess.forEach(element => { %>
  
  <div class="card">
    <img src="<%= element.Images %>" class="card-img-top" alt="..." /> 
    <div class="card-body">
      <h5 class="card-title"><%= element.Highlight %></h5>
      <p class="card-text text"></p>
      <div class="badgegrp"> <span class="badge badge-primary"></span>
        <span class="badge badge-secondary">Mess Available</span>
        <span class="badge badge-success">Boys & Girls</span>
        <span class="badge badge-danger">non Vaccinated</span>
      </div>
      <br />
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter<%= element.id %>">
        Read more...
      </button>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter<%= element.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog my modal-dialog-centered mw-90 " role="document">
      <div class="modal-content mw-90">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><%= element.Highlight %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- shiv-jyoti's original   -->

          <div class="row no-gutters">
            <div class="col-md-4">
              <iframe src="<%= element.Location %>" width="100%" height="450" style="border: 0" allowfullscreen=""
                loading="lazy"></iframe>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                  <%= element.Description %>
                </p>
                <div class="contact-button">
                  <button type="button" class="bf btn btn-danger">
                    Contact Owner
                  </button>
                  <button type="button" class="bf btn btn-danger">
                    View Phone Number
                  </button>
                </div>
                <div>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Deposit Amount
                      <span class="badge badge-primary badge-pill"><%= element.Price %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Maintanence
                      <span class="badge badge-primary badge-pill">-</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Notice Period
                      <span class="badge badge-primary badge-pill"><%= element.Notice %></span>
                    </li>
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Food Availability
                      <span class="badge badge-primary badge-pill"><%= element.Food %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Parking
                      <span class="badge badge-primary badge-pill"><%= element.Parking %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Number of Beds
                      <span class="badge badge-primary badge-pill">4</span>
                    </li>
                  </ul>

                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Preferred Tennants
                      <span class="badge badge-primary badge-pill"><%= element.Gender %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Twin Sharing
                      <span class="badge badge-primary badge-pill"><%= element.Occupancy %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Operating Since
                      <span class="badge badge-primary badge-pill"><%= element.Eastablished %></span>
                    </li>
                  </ul>
                </div>

                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

<% }); %>

 
</div>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

    <script>
      fetch(`https://docs.google.com/spreadsheets/d/1Km982kWj1T9Iro_aBoZot9Ao0ePi2_eUzFDJQcnZcio/gviz/tq?tqx=out:json`)
    .then(res => res.text())
    .then(text => {
        const json = JSON.parse(text.substr(47).slice(0, -2))
        console.log(json);
    })
    </script>
</body>

</html>